@charset "utf-8";

/************************************
 * acacia.css
 *
 * Designed by: Brett Hardin
 * http://bretthard.in
 ***********************************/

body {
	font-family: Helvetica, Arial, sans-serif;
	margin:	    auto;
	max-width:  680px;
	background: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
	
}

h1 {
	font-size: 38px;
}

h2 {
 	font-size: 36px;
	padding-bottom: 20px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 22px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 18px;
}

hr {

}

p {
	padding-bottom: 15px;
}

p, blockquote, ul, ol, dl, li, table, pre {
	font-family: verdana, serif;
	font-size: 14px;
	margin: 15px 0;
}

code, pre {
	border-radius: 3px;
	background-color: #F8F8F8;
	color: inherit;
}

code {
	border: 1px solid #EAEAEA;
	margin: 0 2px;
  padding: 0 5px;
}

pre {
	margin: 10px 30px;
	border: 1px solid #CCCCCC;
	overflow: auto;
	padding: 4px 8px;
}

pre > code {
	border: 0;
	margin: 0;
	padding: 0;
}

a, a:visited {

}
